mixin helpAgeVerify()
  section.form__Segment.profile__Container
    .wrapper
      h1 Age Verification

      article.profile__Article
        h2 What is it?
        p
          | Verifying your age will allow you to broadcast in <a href="/help/room#age-restricted">age-restricted rooms</a>.
          | Age restricted rooms have less restrictions, and things such as nudity will be permitted.
          | Broadcasting in age restricted rooms is <em>only</em> possible by
          | users that have verified their age.

        p
          | It should be noted, after verifying you as over 18 you will have no additional broadcasting privileges in
          | regular rooms. Age verification is <em>only</em> used in age restricted rooms and simply allows
          | you to broadcast in them.

        h2 How do I verify my age?
        p
          | The process for verifying is simple. First, open the <a href="/ageverify">age verification form</a>.
          | Upload a picture of a valid ID, as well as one of it
          | next to your face, to verify it is in fact yours. An administrator or user with age-checking
          | permissions will then review your request and if it is found to be
          | valid, will set your account as <em>Age Verified</em>. You will
          | also have the <em>Age Verified</em> trophy added to your profile.

        p
          | Note: You will need a verified email before you can send an age verification request.



        h2 What happens next?
        p
          | Once submitted, an administrator will be notified of a
          | new age verification request and will review it as soon
          | as they can. A review can have one of three outcomes:

        p
          | If the ID is clear and valid, and the <abbr title="date of birth">DoB</abbr>
          | clearly shows you are over 18, your request will be <strong>approved</strong>
        p
          | If the ID is unclear, the photo is blurry or required information obscured, the request will be <strong>rejected</strong> and you will be required to resubmit.
        p
          | If the ID clearly shows you are in fact not over 18, your request will be <strong>declined</strong>. You will not be able to submit another request for seven days.

        p
          | If your request could not be reviewed within seven days for some reason,
          | it will become <strong>expired</strong> and you will have to resubmit.

