mixin helpReporting()
  section.form__Segment.profile__Container
    .wrapper
      h1 Reporting

      section
        article.profile__Article
          h3#how
            a(href="#how") How do I report someone

          p
            | To report a user, select the "report" option in the dropdown menu
            | when selecting the offending user in the room's user list. Select a
            | reason for the report from the dropdown list and any additional information
            | that you think is necessary and hit <strong>send</strong>.

          p
            | Alternatively, if a user is broadcasting, use the report button in the top-right
            | of the user's broadcast window when hovering over it. This will open the same report
            | dialog.


        article.profile__Article
          h3#what
            a(href="#what") What happens when you report someone

          p
            | When reporting another user, it will send a notification to
            | a site administrator or moderator. A report will include
            | information on both yourself, the user you are reporting,
            | as well as why you are sending the report. It will additionally
            | contain the current visible chat log of the user sending the report
            | and a screenshot of the reported user&apos;s webcam, if they are broadcasting.

          p
            | A report will be received on an administration dashboard, as well as
            | via email to administrators and moderators. They can then, assuming
            | the report is valid in any way, respond by with bans, cam closures or harsh words.


        article.profile__Article
          h3#when
            a(href="#when") When should I report someone?

          p
            | If someone is violating the <a href="/terms">terms of service</a>, then it
            | is a valid reason to report someone. Such examples could include nudity or
            | explicit images on a cam, posting of personal information in chat or threats
            | of violence or otherwise harrassing a user.

          p
            | Reporting should <em>not</em> be used to prank people, to try and remove
            | people you don't like from a room, or just for funsies. If someone is
            | annoying you on cam, you can close or mute them. If someone is not following
            | any sort of room rules, it should be taken up with a room mod.

          p
            | Reports should be sent as a last resort, as they will be received by site mods
            | who would rather not have to respond to petty room issues or bogus reports.

