mixin helpSafety()
  section.form__Segment.profile__Container
    .wrapper
      h1 Safety

      section
        article.profile__Article
          h3 What might I see while using the site?

          p
            | Since JumpInChat allows anyone to broadcast, you may not be directly
            | able to control what you see. This can involve people broadcasting
            | what you may consider distressing or otherwise unpleasent.

          p
            | While it is never fully possible to prevent this, you can reduce the risk
            | by using rooms that only allow registered users or enforce a password.
            | If you are room owner, you can enable these settings in your <a href="/settings/room">room settings</a>.

          p
            | Should you ever see a user broadcasting something which is against the <a href="/terms#prohibitions">terms and conditions</a>,
            | you should <a href="/help/reporting#how">report it</a> immediately.

          p
            | It should be noted, JumpInChat is <em>not</em> intended for use by
            | those under the age of 16, as explained in the <a href="/terms#eligibility">terms and conditions</a>.
            | If you are a parent or guardian of a minor and are aware someone under
            | your care is using the site, please inform us via the <a href="/contact">contact form</a>.


        article.profile__Article
          h3 Can I be recorded on cam?

          p
            | Yes, you can always be recorded on cam. There is nothing stopping a user
            | from recording their screen. You should never do anything on cam
            | that you might regret if it were recorded or published.

          p
            | Additionally, you should be certain you are not inadvertently displaying any
            | personal or otherwise sensitive information on cam. You should also be
            | aware that if you are broadcasting audio, people may be able to overhear
            | things which could be considered sensitive or personal.

        article.profile__Article
          h3 Should I ever give out personal information?
          p
            | <strong>Never.</strong> Posting your name, social media accounts or email can be used
            | to find more information about you. Unfortunately some people will use this information
            | to harass, stalk you or others.
          p
            | If you want to keep in contact with a user, send an <a href="/messages">offline message</a> instead.

        article.profile__Article
          h3 Should I post links from my social media?
          p
            | Images uploaded to Facebook or Twitter for example, may allow people to
            | find your account which you used to upload them. They may also contain
            | sensitive meta information, such as geo location information or other image meta-data.
            | It is therefore advised to upload images to a hosting service
            | such as <a href="https://imgur.com" target="_blank">imgur</a> instead.
