extends ../layouts/default

block content
  .site-wrapper
    include ../includes/header
    section.full-width.register
      .wrapper

        .register__FormWrapper
          header.register__Header
            h2 Reset Password
          form#login-form(method="post")
            input(type='hidden', name='action', value='requestResetPassword')
            .form__InputContainer
              label.form__Label(for="username") Username
              input.form__Input.register__FormInput.form__Input--white#username(name="username", type="text", autocomplete="username")
            .form__InputContainer
              button.button.button--blue(type="submit") Request password reset

          if success
            span.text--green.form__Success= success
          if errors
            span.text--red.form__Error= errors

