extends ../layouts/default

block content
  .site-wrapper
    include ../includes/header
    section.full-width.register
      .wrapper
        .register__FormWrapper
          header.register__Header
            h2 Reset Password

          if verified
            form#login-form(method="post")
              input(type='hidden', name='action', value='resetPassword')
              .form__InputContainer
                label.form__Label(for="password") Password
                input.form__Input.register__FormInput.form__Input--white#password(name="password", type="password", autocomplete="password")
              .form__InputContainer
                label.form__Label(for="passwordRepeat") Verify Password
                input.form__Input.register__FormInput.form__Input--white#password(name="passwordRepeat", type="password", autocomplete="password")
              .form__InputContainer
                button.button.button--blue(type="submit") Reset password

          if success
            span.text--green.form__Success= success
          if errors
            span.text--red.form__Error= errors
