extends ../layouts/default

block content
  .site-wrapper
    include ../includes/header
    section.full-width.register
      .wrapper
        h1 Terms and Conditions
        p
          | JumpInChat Co. (d/b/a JumpIn.chat) (&ldquo;JumpInChat&rdquo; or &ldquo;we&rdquo;) provides group video chat and other online audio, video broadcasting and communication services for individuals, businesses, and organizations (the &ldquo;Services&rdquo;) through our website accessible at www.jumpin.chat (the &ldquo;Site&rdquo;). Please read carefully the following terms and conditions (&ldquo;Terms of Service&rdquo;) and our <a href="/privacy">Privacy Policy</a>.
          | These Terms of Service govern your access to and use of the Site and the Services and, except as otherwise provided in these Terms of Service, all text, graphics, images, music, software, URLs, audio, video, information or other materials available through the Site and Services (&ldquo;Content&rdquo;), and constitute a binding legal agreement between you and JumpInChat.
        p
          | Certain areas of the Site (and your access to or use of certain Services or Content) may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms of Service and terms and conditions posted for a specific area of the Site, Services or Content, the latter terms and conditions shall take precedence with respect to your use of or access to that area of the Site, Services or Content.
        p
          | YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING OR USING THE SITE OR THE SERVICES OR BY DOWNLOADING, POSTING, BROADCASTING, OR STREAMING ANY CONTENT FROM OR ON THE SITE OR THROUGH THE SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS OF SERVICE, WHETHER OR NOT YOU HAVE REGISTERED WITH THE SITE. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE, SERVICES OR CONTENT. If you accept or agree to these Terms of Service on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms of Service and, in such event, &ldquo;you&rdquo; and &ldquo;your&rdquo; will refer and apply to that company or other legal entity.
        h2 Modification
        p
          | JumpInChat reserves the right, at its sole discretion, to modify, discontinue or terminate the Site or Services or to modify these Terms of Service, at any time and without prior notice. If we modify these Terms of Service, we will post the modification on the Site or provide you with notice of the modification. We will also update the &ldquo;Last Updated Date&rdquo; at the top of these Terms of Service and/or the home page of the Site. By continuing to access or use the Site or the Services after we have posted a modification on the Site or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms of Service. If the modified Terms of Service are not acceptable to you, your only recourse is to cease using the Site and the Services.

        h2#eligibility
          a(href="#eligibility") Eligibility
        p
          | The Site and Services are intended solely for persons 16 years old and over. By using the Site and Services, you affirm that you are over 16. If we learn that someone under 16 is using the Site or Services, they will be immediately banned and their account terminated.

        h2#registration
          a(href="#registration") Account registration
        p
          | In order to access certain features of the Site and Services, you must register to create an account (&ldquo;Account&rdquo;) and become a &ldquo;Member.&rdquo; To become a Member you must be at least 16 years old. Any registration by anyone under 16 is void. By completing the registration process to create an Account, you represent and warrant that you are 16 or older. During the registration process, you will be required to establish a username and a password. You are responsible for safeguarding your password. You agree not to disclose your password to any third party and to take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions. You will immediately notify JumpInChat of any unauthorized use of your Account.

        h2#chatrooms
          a(href="#chatrooms") Chatrooms
        p
          | As a Member, the Service will allow you to create a chatroom that other users of the Site will be able to join. The chatrooms allow you to video chat live with other users of the Site, and you may also correspond by writing and sending comments that are displayed to other Members in a chatroom or a private message to a specific user in a chatroom. By creating a chatroom, you agree to act as the administrator of it and to take the responsibility to moderate such chatroom. You agree to exclude and flag any participant that you believe is in breach of these Terms of Service or who is otherwise acting inappropriately. If someone reports any content of your chat as illegal, infringing or otherwise in breach of these Terms of Service, you will be responsible for taking such content down.

        h2#payment
          a(href="#payment") Payment Terms of Service
        p
          | The Services are currently made available without charge. However, JumpInChat reserves the right to charge for your use of the Services at any time. JumpInChat will provide appropriate notice to you if it elects to charge for use of the Services or parts thereof.

        h2 Privacy
        p
          | See JumpInChat&rsquo;s <a href="/privacy">Privacy Policy</a> for information and notices concerning JumpInChat&rsquo;s collection and use of your personal information.

        h2 Ownership
        p
          | The Site, Services and Content are protected by copyright, trademark, and other laws of the United States and foreign countries. Except as expressly provided in these Terms of Service, JumpInChat and its licensors exclusively own all right, title and interest in and to the Site, Services and Content, including all associated intellectual property rights. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Services or Content.

        h2 Content License
        p
          | Subject to your compliance with the terms and conditions of these Terms of Service, JumpInChat grants you a limited, non-exclusive, non-transferable license, without the right to sublicense, to access and view Content solely to use the Site and Service for your personal and non-commercial purposes. Subject to your compliance with the terms and conditions of these Terms, JumpInChat grants you a limited, non-exclusive, non-transferable license, without the right to sublicense, to access and view any User Content solely for your personal and non-commercial purposes. Without limiting your rights to your own User Content (as defined in the following paragraph), you will not use, copy, record, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Site, Services, Content or User Content, except as expressly permitted in these Terms of Service. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by JumpInChat or its licensors, except for the licenses and rights expressly granted in these Terms of Service.

        h2 User Content
        p
          | Members may post, upload, publish, broadcast, stream, display, submit or transmit text, words, verbal statements, graphics, images, music, software, audio, video, information or other materials to be made available through the Site and Services (&ldquo;User Content&rdquo;). By making available any User Content through the Site and Services, you hereby grant to JumpInChat a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, copy, adapt, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast and otherwise exploit such User Content on, through or by means of the Site, the Services, and third party websites. JumpInChat does not claim any ownership rights in any such User Content and nothing in these Terms of Service will be deemed to restrict any rights that you may have to use and exploit any such User Content.
        p
          | You acknowledge and agree that you are solely responsible for all User Content that you make available through the Site or Services. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all User Content that you make available through the Site or Services or you have all rights, licenses, consents and releases that are necessary to grant to JumpInChat the rights in such User Content, as contemplated under these Terms of Service; and (ii) neither the User Content nor your posting, uploading, broadcasting, publication, streaming, submission or transmittal of the User Content or JumpInChat&rsquo;s use of the User Content (or any portion thereof) on, through or by means of the Site, the Services, or third party websites will infringe, misappropriate or violate a third party&rsquo;s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.

        h2 Feedback
        p
          | We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site and Services (&ldquo;Feedback&rdquo;). You may submit Feedback by emailing us through the <a href="/contact">contact page</a>. You acknowledge and agree that all Feedback will be the sole and exclusive property of JumpInChat and you hereby irrevocably assign to JumpInChat and agree to irrevocably assign to JumpInChat all of your right, title, and interest in and to all Feedback, including without limitation all worldwide patent rights, copyright rights, trade secret rights, and other proprietary or intellectual property rights therein. At JumpInChat&rsquo;s request and expense, you will execute documents and take such further acts as JumpInChat may reasonably request to assist JumpInChat to acquire, perfect, and maintain its intellectual property rights and other legal protections for the Feedback.
        h2#prohibitions
          a(href="#prohibitions") General Prohibitions
        p You agree not to do any of the following:
        ul
          li
            | Post, upload, publish, broadcast, stream, display, submit or transmit any text, words, statements, conversations, graphics, images, software, music, audio, video, information or other material that: (i) infringes, misappropriates or violates a third party&rsquo;s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, sexually explicit, nude, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances;
          li Bully, abuse, harass, stalk, demean, threaten or discriminate against others;
          li
            | Discuss illegal activity, such as how to obtain or consume illegal drugs and how to make bombs;
          li Ask for or offer sexually explicit images, and/or material harmful to children;
          li
            | Use, display, mirror or frame the Site, or any individual element within the Site, JumpInChat&rsquo;s name, any JumpInChat trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without JumpInChat&rsquo;s express written consent;
          li
            | Access, tamper with, or use non-public areas of the Site, JumpInChat&rsquo;s computer systems, or the technical delivery systems of JumpInChat&rsquo;s providers;
          li
            | Attempt to probe, scan, or test the vulnerability of any JumpInChat system or network or breach any security or authentication measures;
          li
            | Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by JumpInChat or any of JumpInChat&rsquo;s providers or any other third party (including another user) to protect the Site, Services or Content;
          li
            | Attempt to access or search the Site, Services or Content or download Content from the Site or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by JumpInChat or other generally available third party web browsers;
          li
            | Send or broadcast any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
          li
            | Use any meta tags or other hidden text or metadata utilizing a JumpInChat trademark, logo URL or product name without JumpInChat&rsquo;s express written consent;
          li
            | Use the Site, Services or Content for any commercial purpose or the benefit of any third party or in any manner not permitted by these Terms of Service;
          li
            | Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services or Content to send altered, deceptive or false source-identifying information;
          li
            | Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services or Content;
          li
            | Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site;
          li
            | Collect or store any personally identifiable information from the Site or Services from other users of the Site or Services without their express permission;
          li Impersonate or misrepresent your affiliation with any person or entity;
          li Violate any applicable law or regulation;
          li
            | Record or otherwise store any video or audio that you perceive or receive through the Site or Services, or record or otherwise store any video or audio interactions you conduct with another Member or user; or
          li Encourage or enable any other individual to do any of the foregoing.
        p
          | JumpInChat has the right to investigate and prosecute violations of any of the above to the fullest extent of the law. JumpInChat may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms of Service. You acknowledge that JumpInChat has no obligation to monitor your access to or use of the Site, Services or Content or to review or edit any User Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms of Service, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. JumpInChat reserves the right, at any time and without prior notice, to remove or disable access to any Content, including any User Content that JumpInChat, at its sole discretion, considers to be in violation of these Terms of Service or otherwise harmful to the Site or Services.

        h2#age-restriction
          a(href="#age-restriction") Age restricted rooms
        p
          | Age restricted rooms remove some prohibitions, but there are also additional restrictions.
          | By visiting an age restricted room you agree to the following:

        p The following restrictions are removed:
        ul
          li Broadcasts of yourself that involve nudity or sexually explicit acts.

        p The following additional restrictions are added:
        ul
          li Broadcasts must only include persons who's ages are verified.
          li Broadcasters must use their own account. Any form of account sharing is not allowed.
          li
            | There can be no minors, children, babies or unauthorized persons on camera or in the same room.
            | In the event a minor appears on camera, even for a second, we will immediately report you to <a href="https://www.missingkids.org">NCMEC</a> and any
            | and all law enforcement that we consider appropriate in our sole and absolute discretion.
          li Bestiality, or animals/pets on camera in a sexual or provocative context.
          li Incest (sexual relations involving family members) is not allowed.
          li Illegal or unsafe activities of any kind, including violence, blood, torture, pain, erotic asphyxiation, fisting, rape themes, or any actions associated with bringing harm to you, in any way, are prohibited.


        h2 Copyright and IP Policy
        p
          | JumpInChat respects copyright law and expects its users to do the same. JumpInChat has adopted and implemented a policy that provides for the termination in appropriate circumstances of registered users or other account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.

        h2 Links
        p
          | The Site may contain links to third-party websites or resources. You acknowledge and agree that JumpInChat is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by JumpInChat of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.

        h2 Termination and Account Cancellation
        p
          | If you breach any of these Terms of Service, JumpInChat will have the right to suspend or disable your Account or terminate these Terms of Service, at its sole discretion and without prior notice to you. JumpInChat reserves the right to revoke your access to and use of the Site, Services and Content at any time, with or without cause. [In the event JumpInChat terminates these Terms of Service for your breach, you will remain liable for all amounts due hereunder, to the extent that there are amounts outstanding and payable to JumpInChat.

        h2 Disclaimers
        p
          | THE SITE, SERVICES, CONTENT AND USER CONTENT ARE PROVIDED &ldquo;AS IS&rdquo;, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, JumpInChat EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. JumpInChat MAKES NO WARRANTY THAT THE SITE, SERVICES, CONTENT OR USER CONENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. JumpInChat MAKES NO WARRANTY REGARDING THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY CONTENT OR USER CONTENT OBTAINED THROUGH THE SITE OR SERVICES.
        p
          | NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM JumpInChat OR THROUGH THE SITE, SERVICES, CONTENT OR USER CONTENT, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.
        p
          | YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES. YOU UNDERSTAND THAT JumpInChat DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF THE SITE OR SERVICES, NOR DOES JumpInChat MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF USERS OF THE SITE OR SERVICES. JumpInChat RECOMMENDS THAT YOU DO NOT DISCLOSE PERSONAL CONTACT INFORMATION TO OTHER USERS OR MEMBERS. JumpInChat DOES NOT RECOMMEND OR ENCOURAGE MEMBERS TO USE THE SITE OR SERVICES TO SOLICIT OTHER MEMBERS TO MEET WITH THEM IN PERSON. JumpInChat MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OF THE SITE OR SERVICES OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USERS OF THE SITE OR SERVICES. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON. YOU UNDERSTAND THAT WHEN USING THE SITE OR SERVICES, YOU WILL BE EXPOSED TO CONTENT FROM A VARIETY OF SOURCES, AND THAT JumpInChat IS NOT RESPONSIBLE FOR THE ACCURACY, USEFULNESS, OR SAFETY OF OR RELATING TO SUCH CONTENT. YOU FURTHER UNDERSTAND AND ACKNOWLEDGE THAT, WHILE THE SERVICES AND WEBSITE ARE NOT PROVIDED FOR PORNOGRAPHIC PURPOSES OR FOR MAKING SEXUALLY EXPLICIT CONTENT AVAILABLE, YOU MAY BE EXPOSED TO CONTENT THAT YOU DEEM TO BE OFFENSIVE, INDECENT, OBJECTIONABLE, OR SEXUALLY EXPLICIT, AND YOU AGREE TO WAIVE, AND HEREBY DO WAIVE, ANY LEGAL OR EQUITABLE RIGHTS OR REMEDIES YOU HAVE OR MAY HAVE AGAINST JumpInChat WITH RESPECT THERETO.

        h2 Indemnity
        p
          | You agree to defend, indemnify, and hold JumpInChat, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your User Content and your access to or use of the Site, Services or Content, or your violation of these Terms of Service.

        h2 Limitation of Liability
        p
          | YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE SITE, SERVICES AND CONTENT, INCLUDING USER CONTENT MADE AVAILABLE BY OTHER MEMBERS, REMAINS WITH YOU. NEITHER JUMPINCHAT NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SITE, SERVICES OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OF SERVICE OR FROM THE USE OF OR INABILITY TO USE THE SITE, SERVICES OR CONTENT, OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER USERS OF THE SITE OR SERVICES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT JumpInChat HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
        p
          | IN NO EVENT WILL JUMPINCHAT&rsquo;S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OF SERVICE OR FROM THE USE OF OR INABILITY TO USE THE SITE, SERVICES OR CONTENT EXCEED THE AMOUNTS YOU HAVE PAID TO JumpInChat FOR USE OF THE SITE, SERVICES OR CONTENT, IF YOU ARE REGISTERED FOR PAID ACCOUNT, OR FIFTY ($50), IF YOU ARE REGISTERED FOR A FREE ACCOUNT, AS APPLICABLE. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN JumpInChat AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
        h2 Proprietary Rights Notices
        p
          | All trademarks, service marks, logos, trade names and any other proprietary designations of JumpInChat used herein are trademarks or registered trademarks of JumpInChat. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.
        h2 Controlling Law and Jurisdiction
        p
          | These Terms of Service and any action related thereto will be governed by the laws of the State of New York without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms of Service will be the state and federal courts located in the Southern District of New York and each of the parties hereto waives any objection to jurisdiction and venue in such courts.
        h2 Entire Agreement
        p
          | These Terms of Service constitute the entire and exclusive understanding and agreement between JumpInChat and you regarding the Site, Services, Content and User Content, and these Terms of Service supersede and replace any and all prior oral or written understandings or agreements between JumpInChat and you regarding the Site, Services, Content and User Content.
        h2 Assignment
        p
          | You may not assign or transfer these Terms of Service, by operation of law or otherwise, without JumpInChat&rsquo;s prior written consent. Any attempt by you to assign or transfer these Terms of Service, without such consent, will be null and of no effect. JumpInChat may assign or transfer these Terms of Service, at its sole discretion, without restriction. Subject to the foregoing, these Terms of Service will bind and inure to the benefit of the parties, their successors and permitted assigns.
        h2 Notices
        p
          | Any notices or other communications permitted or required hereunder, including those regarding modifications to these Terms of Service, will be in writing and given: (i) by JumpInChat via email (in each case to the address that you provide) or (ii) by posting to the Site. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
        h2 General
        p
          | The failure of JumpInChat to enforce any right or provision of these Terms of Service will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of JumpInChat. Except as expressly set forth in these Terms of Service, the exercise by either party of any of its remedies under these Terms of Service will be without prejudice to its other remedies under these Terms of Service or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms of Service invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms of Service will remain in full force and effect.

        h2#third-party
          a(href="#third-party") Third party aggreements

        h3 YouTube
        p
          | by using YouTube's services, you agree to be bound by the <a href="https://www.youtube.com/t/terms" target="_blank">YouTube Terms of Service</a>.

        hr

        p Terms updated: 29/09/2019
