.multicol {
	&__Wrapper {
		@media screen and (min-width: $bp-tablet) {
			display: flex;
		}
	}

	&__Side {
		width: 100%;
		flex-shrink: 0;
		@media screen and (min-width: $bp-tablet) {
			width: 200px;
		}

		&--left {
			@media screen and (min-width: $bp-tablet) {
				margin: {
					right: 1em;
				}
			}
		}
	}

	&__Main {
		width: 100%;
		@media screen and (min-width: $bp-tablet) {
			flex-grow: 1;
			width: auto;
		}
	}
}