footer.full-width.full-width--black.footer
  .wrapper.footer__Wrapper
    .footer__Links
      a.footer__Link.footer__Link-social(href="https://twitter.com/jumpinchat", target="_blank", rel="noopener noreferrer")
        i.fab.fa-twitter
      a.footer__Link.footer__Link-social(href="https://facebook.com/jumpinchat", target="_blank", rel="noopener noreferrer")
        i.fab.fa-facebook-f

    .footer__Links
      a.footer__Link(href="/privacy", rel="nofollow") Privacy
      a.footer__Link(href="/terms", rel="nofollow") Terms and Conditions
      a.footer__Link(href="https://status.jumpin.chat", target="_blank", rel="noopener noreferrer") Status
      a.footer__Link(href="/help/cams") Help
      a.footer__Link(href="/help/safety") Safety
      a.footer__Link(href="https://blog.jumpin.chat") Blog
      a.footer__Link(href="/support") Support the site
      a.footer__Link(href="/contact") Contact
  .wrapper.footer__Wrapper
    .footer__Logo
  .wrapper.footer__Wrapper
    span.footer__Copyright Copyright<sup>&copy;</sup> 2017&ndash;#{new Date().getFullYear()} JumpInChat
