.mfa {
  &__BackupCodes {
    column-count: 4;
    background-color: $color-white;
    text-transform: uppercase;

    & > span {
      display: block;
    }
  }

  &__CodeImage {
    text-align: center;

    & > img {
      background-color: $color-white;
      border: 1px solid $color-black-07;
      border-radius: 3px;
      overflow: hidden;
    }
  }
}
